<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../css/components.css">
  <link rel="stylesheet" href="normalize.css">
  <title>AGAC Components</title>
</head>
<body>
  <div class="wrapper">
  <article class="sidebar">
    <ul class="sidebar-list">
      <li><a class="sidebar-link" href="#typography">TYPOGRAPHY DEFAULTS</a></li>
      <li><a class="sidebar-link" href="#body copy">body</a></li>
      <li><a class="sidebar-link" href="#headings">h1, h2, h3, h4, h5</a></li>
      <li><a class="sidebar-link" href="#a">a</a></li>
    </ul>
  </article>

  <div class="content">
  <h1>AGAC Components</h1>

  <h3 id="typography">TYPOGRAPHY DEFAULTS</h3>
    
  <article class="component">
    <h3 class="component__name" id="body copy">Body</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/molecules/project-intro-block.png 2x"
      src="screenshots/molecules/project-intro-block.png" 
      alt="body copy">
    </div>
    <div class="component__code">
      <div class="half-page-column">
      <hr>  
      <p>Created in 2007, Papier is the most important art fair in Quebec. The Montreal event is a driving force in the Canadian contemporary art market and is a space that creates opportunities for exchanges and encounters between the general public, art enthusiasts as well as professionals from the visual arts community.</p>
      <p>AGAC flagship project for now thirteen editions, Papier brings together forty or so of the most prestigious Canadian art galleries each year, both members and non-members of the Association, allowing the public to discover nearly 400 artists.</p>
      <p>Over the years, the fair has been awarded prestigious distinctions, including the Grafika award for its graphic identity, an award for its architectural design and has been named four years in a row by BizBash Magazine in the Top 100 Events in Canada.</p>
      <p><a href="!#" id="a">Visit Papier&#39s website</a></p>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="headings">Headings</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/atoms/project-title__heading-1.png 2x"
      src="screenshots/atoms/project-title__heading-1.png" 
      alt="h1">
      <img 
      srcset="screenshots/atoms/project-title__subheading-2.png 2x"
      src="screenshots/atoms/project-title__subheading-2.png" 
      alt="h2">
      <img 
      srcset="screenshots/atoms/text__heading-3.png 2x"
      src="screenshots/atoms/text__heading-3.png" 
      alt="h3">
      <img 
      srcset="screenshots/atoms/gallery-block__title.png 3.5x"
      src="screenshots/atoms/gallery-block__title.png" 
      alt="h4">
      <img 
      srcset="screenshots/atoms/gallery-block__subtitle.png 3.5x"
      src="screenshots/atoms/gallery-block__subtitle.png" 
      alt="h5">
    </div>
    <div class="component__code">
      <h1>Papier Contemporary Art Fair</h1>
      <h2>15th edition / August 26 - 28, 2022</h2>
      <h3>History of the fair</h3>
      <h4>Galerie 3</h4>
      <h5>Quebec</h5>
    </div>
  </article>


  </div>
  </div>
</body>
</html>