<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="../css/components.css">
  <title>AGAC Components</title>
</head>

<body>
<div class="wrapper">

<!--sidebar component navigation-->

<header>
  <div class="sidebar">
    <article class="sidebar-nav">
      <h3><a class="sidebar-link" href="#agac-components">AGAC Components</a></h3>
      <ul class="sidebar-nav-list">
        <li><a class="sidebar-link" href="#typography">TYPOGRAPHY DEFAULTS</a></li>
        <li><a class="sidebar-link" href="#body-copy">body</a></li>
        <li><a class="sidebar-link" href="#a">a</a></li>
        <li><a class="sidebar-link" href="#headings">h1, h2, h3, h4, h5</a></li>
        <li><a class="sidebar-link" href="#text">other text styles</a></li>
        <li class="space">--</li>
        <li><a class="sidebar-link" href="#page-header">PAGE HEADER</a></li>
        <li><a class="sidebar-link" href="#header-home-button">header home button</a></li>
        <li><a class="sidebar-link" href="#header-main-nav">header main navigation</a></li>
        <li class="space">--</li>
        <li><a class="sidebar-link" href="#gallery-section">GALLERY SECTION</a></li>
        <li><a class="sidebar-link" href="#gallery-block">gallery block</a></li>
        <li><a class="sidebar-link" href="#gallery-block__letter">gallery block letter</a></li>
        <li><a class="sidebar-link" href="#gallery-collection">gallery collection</a></li>
        <li class="space">--</li>
        <li><a class="sidebar-link" href="#project-section">PROJECT SECTION</a></li>
        <li><a class="sidebar-link" href="#hero-image">hero image</a></li>
        <li><a class="sidebar-link" href="#prev-next-text">previous/next text</a></li>
        <li><a class="sidebar-link" href="#hero">hero</a></li>
        <li><a class="sidebar-link" href="#project-intro-block">project intro block</a></li>
        <li><a class="sidebar-link" href="#carousel">carousel with caption</a></li>
        <li><a class="sidebar-link" href="#project-text-block">project text block</a></li>
        <li class="space">--</li>
        <li><a class="sidebar-link" href="#page-footer">PAGE FOOTER</a></li>
        <li><a class="sidebar-link" href="#footer-brand">footer-brand</a></li>
        <li><a class="sidebar-link" href="#gallery-list">gallery-list</a></li>
        <li><a class="sidebar-link" href="#subscribe">footer-subscribe</a></li>
        <li><a class="sidebar-link" href="#social">footer-social</a></li>
        <li><a class="sidebar-link" href="#support">footer-support</a></li>
        <li><a class="sidebar-link" href="#cr-credit">footer-copyright-credit</a></li>
        <li><a class="sidebar-link" href="#footer">footer</a></li>
      </ul>
    </article>
  </div>
</header>

<main>
<div class="content">

  <h1 id="agac-components">AGAC Components</h1>

  <!--typoography-->

  <h3 id="typography">TYPOGRAPHY DEFAULTS</h3>

  <article class="component">
    <h3 class="component__name" id="body-copy">Body</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/molecules/project-intro-block.png 2x"
      src="screenshots/molecules/project-intro-block.png" 
      alt="body copy">
    </div>
    <div class="component__code">
      <div class="half-page-column">
        <p>Created in 2007, Papier is the most important art fair in Quebec. The Montreal event is a driving force in the Canadian contemporary art market and is a space that creates opportunities for exchanges and encounters between the general public, art enthusiasts as well as professionals from the visual arts community.</p>
        <p>AGAC flagship project for now thirteen editions, Papier brings together forty or so of the most prestigious Canadian art galleries each year, both members and non-members of the Association, allowing the public to discover nearly 400 artists.</p>
        <p>Over the years, the fair has been awarded prestigious distinctions, including the Grafika award for its graphic identity, an award for its architectural design and has been named four years in a row by BizBash Magazine in the Top 100 Events in Canada.</p>
        <p><a href="https://www.papiermontreal.com/en" id="a">Visit Papier&#39;s website</a></p>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="headings">Headings</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/atoms/project-title__heading-1.png 2x"
      src="screenshots/atoms/project-title__heading-1.png" 
      alt="h1">
      <img 
      srcset="screenshots/atoms/project-title__subheading-2.png 2x"
      src="screenshots/atoms/project-title__subheading-2.png" 
      alt="h2">
      <img 
      srcset="screenshots/atoms/text__heading-3.png 2x"
      src="screenshots/atoms/text__heading-3.png" 
      alt="h3">
      <img 
      srcset="screenshots/atoms/gallery-block__title.png 3.5x"
      src="screenshots/atoms/gallery-block__title.png" 
      alt="h4">
      <img 
      srcset="screenshots/atoms/gallery-block__subtitle.png 3.5x"
      src="screenshots/atoms/gallery-block__subtitle.png" 
      alt="h5">
    </div>
    <div class="component__code">
      <p>h1, h2:</p>
      <h1>Papier Contemporary Art Fair</h1>
      <h2>15th edition / August 26 - 28, 2022</h2>
      <p>h3:</p>
      <h3>History of the fair</h3>
      <p>h4, h5:</p>
      <h4>Galerie 3</h4>
      <h5>Quebec</h5>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="text">Other Text Styles</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/atoms/gallery-text.png 2x"
      src="screenshots/atoms/gallery-text.png" 
      alt="gallery text">
      <img 
      srcset="screenshots/atoms/nav-text.png 2x"
      src="screenshots/atoms/nav-text.png"
      alt="navigation text">
      <img 
      srcset="screenshots/atoms/carousel__caption.png 2x"
      src="screenshots/atoms/carousel__caption.png" 
      alt="carousel caption">  
      <img 
      srcset="screenshots/atoms/hero__prev-next-text.png 2x"
      src="screenshots/atoms/hero__prev-next-text.png" 
      alt="previous-next text">
      <img 
      srcset="screenshots/atoms/footer-text__black.png 2x"
      src="screenshots/atoms/footer-text__black"
      alt="footer text: black">  
      <img 
      srcset="screenshots/atoms/footer-text__medium-grey.png 2x"
      src="screenshots/atoms/footer-text__medium-grey.png"
      alt="footer text: medium gray">
      <img 
      srcset="screenshots/atoms/footer-text__copyright-credit.png 2x"
      src="screenshots/atoms/footer-text__copyright-credit.png"
      alt="footer text: copyright-credit">
    </div>
    <div class="component__code">
      <p>gallery-text:</p>
      <p class="gallery-text">The Contemporary Art Galleries Association (AGAC) is a non-profit organization that brings together galleries across Canada. AGAC defends the moral and economic interests of its members and ensures the recognition and prosperity of the market for contemporary art in Canada.</p>
      <p>nav-text:</p>
      <p class="nav-text">Galleries</p>
      <p>carousel-text:</p>
      <p class="carousel__caption-text">Papier 2017 and Papier 2018 posters.</p>
      <p>previous/next text:</p>
      <p class="hero__prev-next-text">Previous project | Next project</p>
      <p>footer-text__black</p>
      <p class="footer-text__black">Subscribe to our newsletter</p>
      <p>footer-text__medium-gray</p>
      <p class="footer-text__medium-gray">Beaux-arts des Am&eacute;riques</p>
      <p>footer-text__copyright-credit</p>
      <p class="footer-text__copyright-credit">&copy;AGAC</p>
    </div>
  </article>

  <!--page header-->

  <h3 id="page-header">PAGE HEADER</h3>

  <article class="component">
  <h3 class="component__name" id="header-home-button">Header Home Button</h3>
  <div class="component__image">
    <img
    srcset="screenshots/atoms/header-home-button.png 2x"
    src="screenshots/atoms/header-home-button.png"
    alt="header home button">
  </div>
  <div class="component__code">
    <img 
    src="../images/header-home-button.png"
    alt="header home button">
  </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="header-main-nav">Header Main Navigation</h3>
    <div class="component__image">
      <img srcset="screenshots/molecules/header-main-nav.png 2x"
      src="screenshots/molecules/header-main-nav.png"
      alt="header main navigation">
    </div>
    <div class="component__code">
      <div class="header-main-nav">
        <ul class="header-main-nav__list">
          <li><a href="!#"><img class="logo-square" src="../images/header-home-button.png" alt="header home button"></a></li>
          <li class="nav-text"><a class="nav" href="!#">Galleries</a></li>
          <li class="nav-text"><a class="nav" href="!#">Projects</a></li>
          <li class="nav-text"><a class="nav" href="!#">Awards</a></li>
          <li class="nav-text"><a class="nav" href="!#">Publications</a></li>
          <li class="nav-text"><a class="nav" href="!#">About</a></li>
          <li class="nav-text"><a class="nav" href="!#">Resources</a></li>
          <li class="nav-text"><a class="nav" href="!#">AGAC Collection</a></li>
          <li class="nav-text"><a class="nav" href="!#">Shop</a></li>
        </ul>
        <div class="language">
          <p class="nav-text"><a class="nav" href="!#">Fr</a></p>
        </div>
      </div> <!--header-main-nav-->
    </div> <!--component code-->
  </article>

  <!--gallery-->

  <h3 id="gallery-section">GALLERY SECTION</h3>

  <article class="component">
    <h3 class="component__name" id="gallery-block">Gallery Block</h3>
    <div class="component__image">
      <img 
      src="screenshots/molecules/gallery-block.jpg" 
      alt="gallery-block">
    </div>
    <div class="component__code">
      <article class="gallery-block">
      <h4>Christie Contemporary</h4>
      <h5>Toronto</h5>
      <img class="gallery-block__image" 
      src="screenshots/atoms/gallery-block__image.png" 
      alt="gallery block">
      </article>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="gallery-block__letter">Gallery Block Letter</h3>
    <div class="component__image">
      <img 
      src="screenshots/atoms/gallery-block__letter.png" 
      alt="gallery block letter">
    </div>
    <div class="component__code">
      <div class="gallery-block__letter">
        <img class="gallery-block__letter" 
        src="../images/gallery-block__letter-a.png" 
        alt="the letter A">
      </div>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="gallery-collection">Gallery Collection</h3>
    <div class="gallery-collection"></div>
    <div class="component__image">
        <img id="gallery"
        srcset="screenshots/organisms/gallery.png 1.7x"
        src="screenshots/organisms/gallery.png"
        alt="gallery collection">
    </div>
    <div class="component__code">
      <div class="gallery">

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-a.png" 
          alt="the letter A">
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-g.png" 
          alt="the letter G">
        </div>

        <p class="gallery-text">The Contemporary Art Galleries Association (AGAC) is a non-profit organization that brings together galleries across Canada. AGAC defends the moral and economic interests of its members and ensures the recognition and prosperity of the market for contemporary art in Canada.</p>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-a.png" 
          alt="the letter A">
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-c.png" 
          alt="the letter C">
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-amp.png" 
          alt="ampersand">
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

        <div class="gallery-block">
          <a class="gallery-link" href="#!">
            <div class="gallery-block-inside">
            <h4>Gallery Name</h4>
            <h5>Location</h5>
            <img class="gallery-block__image" 
            src="screenshots/atoms/gallery-block__image.png" 
            alt="gallery block">
            </div>
          </a>
        </div>

      </div> <!--gallery-->
    </div> <!--component code-->
  </article>

  <!--PROJECT SECTION-->

  <h3 id="project-section">PROJECT SECTION</h3>
  
  <article class="component">
    <h3 id="hero-image">Hero image</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/hero__image.png 1.7x"
      src="screenshots/atoms/hero__image.png"
      alt="hero image">
    </div>
    <div class="component__code">
      <div class="hero-image">
        <img src="../images/hero__image.png" alt="people observing art in a gallery">
      </div>
    </div>

    <h3 id="prev-next-text">Hero prev/next text</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/hero__prev-next-text.png 1.7x"
      src="screenshots/atoms/hero__prev-next-text.png"
      alt="previous/next text">
    </div>
    <div class="component__code">
      <div class="hero__prev-next-text">
        <p><a class="previous-next" href="#!">Previous project</a> | <a class="previous-next" href="#!">Next project</a></p>
      </div>
    </div>

    <h3 id="hero">Hero</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/hero.png 1.7x"
      src="screenshots/molecules/hero.png"
      alt="previous/next text">
    </div>
    <div class="component__code">
      <div class="hero-image">
        <img src="../images/hero__image.png" alt="people observing art in a gallery">
      </div>
      <div class="hero__prev-next-text">
        <p><a class="previous-next" href="#!">Previous project</a> | <a class="previous-next" href="#!">Next project</a></p>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 id="project-intro-block">Project intro block</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/project-intro-block.png 2x"
      src="screenshots/molecules/project-intro-block.png"
      alt="project introduction text">
    </div>
    <div class="component__code">
      <div class="project-intro-block">
        <div class="half-page-column">
          <p>Created in 2007, Papier is the most important art fair in Quebec. The Montreal event is a driving force in the Canadian contemporary art market and is a space that creates opportunities for exchanges and encounters between the general public, art enthusiasts as well as professionals from the visual arts community.</p>
          <p>AGAC flagship project for now thirteen editions, Papier brings together forty or so of the most prestigious Canadian art galleries each year, both members and non-members of the Association, allowing the public to discover nearly 400 artists.</p>
          <p>Over the years, the fair has been awarded prestigious distinctions, including the Grafika award for its graphic identity, an award for its architectural design and has been named four years in a row by BizBash Magazine in the Top 100 Events in Canada.</p>
          <p><a href="https://www.papiermontreal.com/en">Visit Papier&#39;s website</a></p>
        </div>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 id="carousel">Carousel with caption</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/carousel__slide-show.png 1.7x"
      src="screenshots/atoms/carousel__slide-show.png"
      alt="carousel">
    </div>
    <div class="component__code">
      <div class="future-carousel">
          <img src="../images/carousel__slide-show-05.png" alt="Papier14, Papier15 and Papier16 posters">
          <p class="carousel__caption-text">Papier07 and Papier08 posters</p></div>
      </div>
  </article>

  <article class="component">
    <h3 id="project-text-block">Project text block</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/project-text-block.png 2x"
      src="screenshots/molecules/project-text-block.png"
      alt="carousel">
    </div>
    <div class="component__code">
        <h3>History of the Fair</h3>
        <p>Over the years, Papier has become increasingly popular, drawing a growing number of art enthusiasts and seasoned collectors. Papier has been an important springboard for many artists, as well as the galleries that represent them.</p>
        <div class="future-accordion-container">
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2007</p> 
            <p class="future-accordion-text">Inaugural edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2008</p> 
            <p class="future-accordion-text">2nd edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2010</p> 
            <p class="future-accordion-text">3rd edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          <div class="future-accordion-row">
            <p class="future-accordion-text">2011</p> 
            <p class="future-accordion-text">4th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2012</p> 
            <p class="future-accordion-text">5th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2013</p> 
            <p class="future-accordion-text">6th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2014</p> 
            <p class="future-accordion-text">7th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2015</p> 
            <p class="future-accordion-text">8th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2016</p> 
            <p class="future-accordion-text">9th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2017</p> 
            <p class="future-accordion-text">10th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2018</p> 
            <p class="future-accordion-text">11th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2019</p> 
            <p class="future-accordion-text">12th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2020</p> 
            <p class="future-accordion-text">13th edition</p>
            <p class="future-accordion-text">+</p>
          </div>
          </a>
          <a class="future-accordion-row__link" href="#!">
          <div class="future-accordion-row">
            <p class="future-accordion-text">2021</p> 
            <p class="future-accordion-text">14th edition</p>
            <p class="future-accordion-text">+</p>
          </div> 
        </a>
        </div> <!--future accordion container-->
    </div> <!--component code-->
  </article>

  <!--page footer components-->

  <h3 id="page-footer">PAGE FOOTER</h3>
  <article class="component">
    <h3 id="footer-logo-image">footer-brand__logo-image</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-brand__logo-image.png 2x"
      src="screenshots/atoms/footer-brand__logo-image.png" 
      alt="footer logo image">
    </div>
    <div class="component__code">
      <img 
      src="../images/footer-brand__logo-image.svg"
      alt="footer logo image">
    </div>
  </article>

  <article class="component">
    <h3 id="footer-brand">footer-brand__logo-name</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-brand__logo-name.png 2x"
      src="screenshots/atoms/footer-brand__logo-name.png" 
      alt="footer logo name">
    </div>
    <div class="component__code">
      <p class="footer-brand__logo-name">Contemporary Art<br>
        Galleries Association</p>
    </div>
  </article>

  <article class="component">
    <h3>footer-brand</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/footer-brand.png 2x"
      src="screenshots/molecules/footer-brand.png" 
      alt="footer branding">
    </div>
    <div class="component__code">
      <div class="footer-brand">
        <img 
        class="footer-brand__logo-image" 
        src="../images/footer-brand__logo-image.svg"
        alt="ACAG logo">
        <p class="footer-brand__logo-name">Contemporary Art <br> Galleries Assoction</p>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 id="gallery-list">footer-gallery-list</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/footer-gallery-list.png 1.7x"
      src="screenshots/molecules/footer-gallery-list.png" 
      alt="gallery list">
    </div>
    <div class="component__code">
      <div class="footer__gallery-list">
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Art Mûr</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Art45</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Beaux-arts des Amériques</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Blouin Division</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Bradley Ertaskiran</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Christie Contemporary</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">DURAN | MASHAAL</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">ELLEPHANT</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Equinox Gallery</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Feheley Fine Arts</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Franz Kaka</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie 3</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie a</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Bernard</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie C.O.A</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Éric Devlin</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Hugues Charbonneau</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Jean-Claude Bergeron</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Michel Guimont</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Robert Poulin</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Robertson Arès</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Simon Blais</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Youn</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galeries Roger Bellemare et Christian Lambert</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">General Hardware Contemporary</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Lacerte art contemporain</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Laroche/Joncas</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">McBride Contemporain</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Pangée</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Patrick Mikhail</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Paul Petro Contemporary Art</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Pierre-François Ouellette art contemporain</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Stephen Bulger Gallery</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Studio 21 Fine Art</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">TrépanierBaer Gallery</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">United Contemporary</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">VIVIANEART</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Yves Laroche Galerie d&#39;art</a></p>
        <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Zalucky Contemporary</a></p>
        </div>
    </div>
  </article>

  <article class="component">
    <h3 id="subscribe">footer-subscribe__text-input-box</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-subscribe__text-input-box.png 2x"
      src="screenshots/atoms/footer-subscribe__text-input-box.png" 
      alt="newsletter subscription text input box">
    </div>
    <div class="component__code">
      <form>
        <input class="text-input-box" type="text" name="name" placeholder="Your email address" required>
      </form>
    </div>
  </article>

  <article class="component">
    <h3>footer-subscribe__button</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-subscribe__button.png 2x"
      src="screenshots/atoms/footer-subscribe__button.png" 
      alt="newsletter subscription button">
    </div>
    <div class="component__code">
      <form><input class="submit-button" type="submit" value="Subscribe"></form>
    </div>
  </article>

  <article class="component">
    <h3>footer-subscribe</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/footer-subscribe.png 2x"
      src="screenshots/molecules/footer-subscribe.png" 
      alt="newsletter subscription form">
    </div>
    <div class="component__code">
      <div class="footer-subscribe">
        <p class="footer-text__black">Subscribe to our newsletter</p>
        <form>
        <span><input class="text-input-box" type="text" name="name" placeholder="Your email address" required><input class="submit-button" type="submit" value="Subscribe"></span>
        </form>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 id="social">footer-social__logo-facebook</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-social__logo-facebook.png 1.7x"
      src="screenshots/atoms/footer-social__logo-facebook.png" 
      alt="newsletter subscription button">
    </div>
    <div class="component__code">
      <img src="../images/footer-social__logo-facebook.png" alt="facebook icon">
    </div>
  </article>

  <article class="component">
    <h3>footer-social__logo-instagram</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-social__logo-instagram.png 1.7x"
      src="screenshots/atoms/footer-social__logo-instagram.png" 
      alt="newsletter subscription button">
    </div>
    <div class="component__code">
      <img src="../images/footer-social__logo-instagram.png" alt="instagram icon">
    </div>
  </article>

  <article class="component">
    <h3>footer-social__logo-twitter</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-social__logo-twitter.png 1.7x"
      src="screenshots/atoms/footer-social__logo-twitter.png" 
      alt="newsletter subscription button">
    </div>
    <div class="component__code">
      <img src="../images/footer-social__logo-twitter.png" alt="twitter icon">
    </div>
  </article>

  <article class="component">
    <h3>footer-social__logo-youtube</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-social__logo-youtube.png 1.7x"
      src="screenshots/atoms/footer-social__logo-youtube.png" 
      alt="newsletter subscription button">
    </div>
    <div class="component__code">
      <img src="../images/footer-social__logo-youtube.png" alt="youtube icon">
    </div>
  </article>

  <article class="component">
    <h3>footer-social__logo-linkedin</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-social__logo-linkedin.png 1.7x"
      src="screenshots/atoms/footer-social__logo-linkedin.png" 
      alt="newsletter subscription button">
    </div>
    <div class="component__code">
      <img src="../images/footer-social__logo-linkedin.png" alt="linkedin icon">
    </div>
  </article>

  <article class="component">
    <h3>footer-social</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/footer-social.png 1.7x"
      src="screenshots/molecules/footer-social.png" 
      alt="social media icons">
    </div>
    <div class="component__code">
      <div class="footer-social">
        <p class="footer-text__black">Follow us</p>
        <ul class="social-list">
          <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-facebook.png" alt="facebook icon"></a></li>
          <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-twitter.png" alt="twitter icon"></a></li>
          <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-instagram.png" alt="instagram icon"></a></li>
          <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-youtube.png" alt="youtube icon"></a></li>
          <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-linkedin.png" alt="linkedin icon"></a></li>
          </ul>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 id="support">footer-support__logo</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-support__logo.png 1.5x"
      src="screenshots/atoms/footer-support__logo.png" 
      alt="Logo for Societ&eacute; de D&eacute;velopment des Enterprises Colturelles Quebec">
    </div>
    <div class="component__code">
      <img src="../images/footer-support__logo.svg" alt="Logo for Societ&eacute; de D&eacute;velopment des Enterprises Colturelles Quebec">
    </div>
  </article>

  <article class="component">
    <h3>footer-support</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/footer-support.png 1.7x"
      src="screenshots/molecules/footer-support.png" 
      alt="Logo for Societ&eacute; de D&eacute;velopment des Enterprises Colturelles Quebec">
    </div>
    <div class="component__code">
      <div class="footer-social">
        <p class="footer-text__black">With the support of</p>
        <a href="#!"><img src="../images/footer-support__logo.svg" alt="Logo for Societ&eacute; de D&eacute;velopment des Enterprises Colturelles Quebec"></a>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 id="cr-credit">footer-copyright-credit</h3>
    <div class="component__image">
      <img
      srcset="screenshots/molecules/footer-copyright-credit.png 1.7x"
      src="screenshots/molecules/footer-copyright-credit.png" 
      alt="Copyright AGAC, Design and code by Principal">
    </div>
    <div class="component__code">
      <div class="footer-copyright-credit">
        <p class="footer-text__copyright">&copy; AGAC</p>
        <p class="footer-text__copyright">Design and code by <a class="footer-text__copyright-link" href="https://www.principal.studio/en">Principal</a></p>
      </div>
    </div>
  </article>

    <!--PAGE FOOTER-->

  <article class="component">
    <h3 id="footer">Footer</h3>
    <div class="component__image">
      <img
      srcset="screenshots/organisms/footer.png 2x"
      src="screenshots/organisms/footer.png" 
      alt="footer">
    </div>

    <div class="component__code">
      <div class="footer-container">
        <div class="footer-brand">
          <img 
          class="footer-brand__logo-image" 
          src="../images/footer-brand__logo-image.svg"
          alt="ACAG logo">
          <p class="footer-brand__logo-name">Contemporary Art <br> Galleries Assoction</p>
        </div>
  
        <div class="footer__gallery-list">
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Art Mûr</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Art45</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Beaux-arts des Amériques</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Blouin Division</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Bradley Ertaskiran</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Christie Contemporary</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">DURAN | MASHAAL</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">ELLEPHANT</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Equinox Gallery</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Feheley Fine Arts</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Franz Kaka</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie 3</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie a</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Bernard</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie C.O.A</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Éric Devlin</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Hugues Charbonneau</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Jean-Claude Bergeron</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Michel Guimont</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Robert Poulin</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Robertson Arès</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Simon Blais</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galerie Youn</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Galeries Roger Bellemare et Christian Lambert</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">General Hardware Contemporary</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Lacerte art contemporain</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Laroche/Joncas</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">McBride Contemporain</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Pangée</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Patrick Mikhail</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Paul Petro Contemporary Art</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Pierre-François Ouellette art contemporain</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Stephen Bulger Gallery</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Studio 21 Fine Art</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">TrépanierBaer Gallery</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">United Contemporary</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">VIVIANEART</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Yves Laroche Galerie d&#39;art</a></p>
            <p class="footer-text__medium-gray"><a class="footer-link" href="#!">Zalucky Contemporary</a></p>
          </div>
  
        <div class="footer-subscribe">
          <p class="footer-text__black">Subscribe to our newsletter</p>
          <form>
            <span><input class="text-input-box" type="text" name="name" placeholder="Your email address" required>
            <input class="submit-button" type="submit" value="Subscribe"></span>
          </form>
        </div>
  
        <div class="social-support">
          <div class="footer-social">
            <p class="footer-text__black">Follow us</p>
              <ul class="social-list">
              <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-facebook.png" alt="facebook icon"></a></li>
              <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-twitter.png" alt="twitter icon"></a></li>
              <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-instagram.png" alt="instagram icon"></a></li>
              <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-youtube.png" alt="youtube icon"></a></li>
              <li><a class="social-link" href="#!"><img class="social-icon-circle" src="../images/footer-social__logo-linkedin.png" alt="linkedin icon"></a></li>
            </ul>
          </div>
  
        <div class="footer-support">
          <p class="footer-text__black footer-support-text">With the support of</p>
          <a href="#!">
            <img class="footer-support-logo" 
            src="../images/footer-support__logo.png" 
            alt="Logo for Societ&eacute; de D&eacute;velopment des Enterprises Colturelles Quebec">
          </a>
        </div>
      </div>
  
      <div class="footer-copyright-credit">
        <p class="footer-text__copyright">&copy; AGAC</p>
        <p class="footer-text__copyright">Design and code by <a class="footer-text__copyright-link" href="https://www.principal.studio/en">Principal</a></p>
      </div>
      
      </div> <!--footer container-->
    </div> <!--footer component code-->
  </article>

</div> <!--content-->
</main>
</div> <!--page wrapper-->
</body>
</html>