<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/components.css">
  <link rel="stylesheet" href="normalize.css">
  <title>AGAC Components</title>
</head>
<body>

<!--sidebar-->

  <div class="wrapper">
  <div class="sidebar">
    <article class="sidebar-nav">
      <h3><a class="sidebar-link" href="#agac-components">AGAC Components</a></h3>
    <ul class="sidebar-nav-list">
      <li><a class="sidebar-link" href="#typography">TYPOGRAPHY DEFAULTS</a></li>
      <li><a class="sidebar-link" href="#body-copy">body</a></li>
      <li><a class="sidebar-link" href="#a">a</a></li>
      <li><a class="sidebar-link" href="#headings">h1, h2, h3, h4, h5</a></li>
      <li><a class="sidebar-link" href="#text">other text styles</a></li>
      <li class="space">space</li>
      <li><a class="sidebar-link" href="#page-header">PAGE HEADER</a></li>
      <li><a class="sidebar-link" href="#header-home-button">header home button</a></li>
      <li><a class="sidebar-link" href="#header-main-nav">header main navigation</a></li>
      <li class="space">space</li>
      <li><a class="sidebar-link" href="#gallery-section">GALLERY SECTION</a></li>
      <li><a class="sidebar-link" href="#gallery-block">gallery block</a></li>
      <li><a class="sidebar-link" href="#gallery-block__letter">gallery block letter</a></li>
      <li><a class="sidebar-link" href="#gallery-collection">gallery collection</a></li>
      <li class="space">space</li>
      <li><a class="sidebar-link" href="#page-footer">PAGE FOOTER</a></li>
      <li><a class="sidebar-link" href="#footer-logo-image">footer logo image</a></li>
      <li><a class="sidebar-link" href="#footer-logo-name">footer logo name</a></li>
    </ul>
    </article>
  </div>

  <!--content-->

  <div class="content">
  <h1 id="agac-components">AGAC Components</h1>

  <!--typoography-->

  <h3 id="typography">TYPOGRAPHY DEFAULTS</h3>

  <article class="component">
    <h3 class="component__name" id="body-copy">Body</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/molecules/project-intro-block.png 2x"
      src="screenshots/molecules/project-intro-block.png" 
      alt="body copy">
    </div>
    <div class="component__code">
      <div class="half-page-column">
      <hr>  
      <p>body:</p>
      <p>Created in 2007, Papier is the most important art fair in Quebec. The Montreal event is a driving force in the Canadian contemporary art market and is a space that creates opportunities for exchanges and encounters between the general public, art enthusiasts as well as professionals from the visual arts community.</p>
      <p>AGAC flagship project for now thirteen editions, Papier brings together forty or so of the most prestigious Canadian art galleries each year, both members and non-members of the Association, allowing the public to discover nearly 400 artists.</p>
      <p>Over the years, the fair has been awarded prestigious distinctions, including the Grafika award for its graphic identity, an award for its architectural design and has been named four years in a row by BizBash Magazine in the Top 100 Events in Canada.</p>
      <p><a href="!#" id="a">Visit Papier&#39;s website</a></p>
      </div>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="headings">Headings</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/atoms/project-title__heading-1.png 2x"
      src="screenshots/atoms/project-title__heading-1.png" 
      alt="h1">
      <img 
      srcset="screenshots/atoms/project-title__subheading-2.png 2x"
      src="screenshots/atoms/project-title__subheading-2.png" 
      alt="h2">
      <img 
      srcset="screenshots/atoms/text__heading-3.png 2x"
      src="screenshots/atoms/text__heading-3.png" 
      alt="h3">
      <img 
      srcset="screenshots/atoms/gallery-block__title.png 3.5x"
      src="screenshots/atoms/gallery-block__title.png" 
      alt="h4">
      <img 
      srcset="screenshots/atoms/gallery-block__subtitle.png 3.5x"
      src="screenshots/atoms/gallery-block__subtitle.png" 
      alt="h5">
    </div>
    <div class="component__code">
      <p>h1, h2:</p>
      <h1>Papier Contemporary Art Fair</h1>
      <h2>15th edition / August 26 - 28, 2022</h2>
      <p>h3:</p>
      <h3>History of the fair</h3>
      <p>h4, h5:</p>
      <h4>Galerie 3</h4>
      <h5>Quebec</h5>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="text">Other Text Styles</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/atoms/gallery-text.png 2x"
      src="screenshots/atoms/gallery-text.png" 
      alt="gallery text">
      <img 
      srcset="screenshots/atoms/nav-text.png 2x"
      src="screenshots/atoms/nav-text.png"
      alt="navigation text">
      <img 
      srcset="screenshots/atoms/carousel__caption.png 2x"
      src="screenshots/atoms/carousel__caption.png" 
      alt="carousel caption">  
      <img 
      srcset="screenshots/atoms/hero__prev-next-text.png 2x"
      src="screenshots/atoms/hero__prev-next-text.png" 
      alt="previous-next text">
      <img 
      srcset="screenshots/atoms/footer-text__black.png 2x"
      src="screenshots/atoms/footer-text__black"
      alt="footer text: black">  
      <img 
      srcset="screenshots/atoms/footer-text__medium-grey.png 2x"
      src="screenshots/atoms/footer-text__medium-grey.png"
      alt="footer text: medium gray">
      <img 
      srcset="screenshots/atoms/footer-text__copyright-credit.png 2x"
      src="screenshots/atoms/footer-text__copyright-credit.png"
      alt="footer text: copyright-credit">
    </div>
    <div class="component__code">
      <p>gallery-text:</p>
      <p class="gallery-text">The Contemporary Art Galleries Association (AGAC) is a non-profit organization that brings together galleries across Canada. AGAC defends the moral and economic interests of its members and ensures the recognition and prosperity of the market for contemporary art in Canada.</p>
      <p>nav-text:</p>
      <p class="nav-text">Galleries</p>
      <p>carousel-text:</p>
      <p class="carousel__caption-text">Papier 2017 and Papier 2018 posters.</p>
      <p>previous/next text:</p>
      <p class="hero__prev-next-text">Previous project | Next project</p>
      <p>footer-text__black</p>
      <p class="footer-text__black">Subscribe to our newsletter</p>
      <p>footer-text__medium-gray</p>
      <p class="footer-text__medium-gray">Beaux-arts des Am&eacute;riques</p>
      <p>footer-text__copyright-credit</p>
      <p class="footer-text__copyright-credit">&copy;AGAC</p>
    </div>
  </article>

<!--page header-->

  <h3 id="page-header">PAGE HEADER</h3>

  <article class="component">
  <h3 class="component__name" id="header-home-button">Header Home Button</h3>
  <div class="component__image">
    <img
    srcset="screenshots/atoms/header-home-button.png 2x"
    src="screenshots/atoms/header-home-button.png"
    alt="header home button">
  </div>
  <div class="component__code">
    <img 
    src="../images/header-home-button.png"
    alt="header home button">
  </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="header-main-nav">Header Main Navigation</h3>
    <div class="component__image">
      <img srcset="screenshots/molecules/header-main-nav.png 2x"
      src="screenshots/molecules/header-main-nav.png"
      alt="header main navigation">
    </div>
    <div class="component__code">
    <!--learn how to change menu for small screen when building page -->
    <div class="header-main-nav">
      <ul class="header-main-nav__list">
        <li><a href="!#"><img class="logo-square" src="../images/header-home-button.png" alt="header home button"></a></li>
        <li class="nav-text"><a class="nav" href="!#">Galleries</a></li>
        <li class="nav-text"><a class="nav" href="!#">Projects</a></li>
        <li class="nav-text"><a class="nav" href="!#">Awards</a></li>
        <li class="nav-text"><a class="nav" href="!#">Publications</a></li>
        <li class="nav-text"><a class="nav" href="!#">About</a></li>
        <li class="nav-text"><a class="nav" href="!#">Resources</a></li>
        <li class="nav-text"><a class="nav" href="!#">AGAC Collection</a></li>
        <li class="nav-text"><a class="nav" href="!#">Shop</a></li>
      </ul>
      <div class="language">
        <p class="nav-text"><a class="nav" href="!#">Fr</a></p>
      </div>
      </div> <!--header-main-nav-->
    </div> <!--component code-->
  </article>

<!--gallery-->

  <h3 id="gallery-section">GALLERY SECTION</h3>

  <article class="component">
    <h3 class="component__name" id="gallery-block">Gallery Block</h3>
    <div class="component__image">
      <img 
      src="screenshots/molecules/gallery-block.jpg" 
      alt="gallery-block">
    </div>
    <div class="component__code">
      <article class="gallery-block">
      <h4>Christie Contemporary</h4>
      <h5>Toronto</h5>
      <img class="gallery-block__image" 
      src="screenshots/atoms/gallery-block__image.png" 
      alt="gallery block">
      </article>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="gallery-block__letter">Gallery Block Letter</h3>
    <div class="component__image">
      <img 
      src="screenshots/atoms/gallery-block__letter.png" 
      alt="gallery block letter">
    </div>
    <div class="component__code">
      <div class="gallery-block__letter">
      <img class="gallery-block__letter" 
      src="../images/gallery-block__letter-a.png" 
      alt="the letter A">
      </div>
    </div>
  </article>

  <article class="component">
    <h3 class="component__name" id="gallery-collection">Gallery Collection</h3>
    <div class="gallery-collection"></div>
    <div class="component__image">
        <img id="gallery"
        srcset="screenshots/organisms/gallery.png 1.7x"
        src="screenshots/organisms/gallery.png"
        alt="gallery collection">
      </div>
    <div class="component__code">
      <div class="gallery">
        <div class="gallery-block__letter">
        <img class="gallery-block__letter" 
        src="../images/gallery-block__letter-a.png" 
        alt="the letter A">
        </div>

        <div class="gallery-block">
        <h4>Gallery Name</h4>
        <h5>Location</h5>
        <img class="gallery-block__image" 
        src="screenshots/atoms/gallery-block__image.png" 
        alt="gallery block">
        </div>

        <div class="gallery-block">
        <h4>Gallery Name</h4>
        <h5>Location</h5>
        <img class="gallery-block__image" 
        src="screenshots/atoms/gallery-block__image.png" 
        alt="gallery block">
        </div>

        <div class="gallery-block__letter">
        <img class="gallery-block__letter" 
        src="../images/gallery-block__letter-g.png" 
        alt="the letter G">
        </div>

        <p class="gallery-text">The Contemporary Art Galleries Association (AGAC) is a non-profit organization that brings together galleries across Canada. AGAC defends the moral and economic interests of its members and ensures the recognition and prosperity of the market for contemporary art in Canada.</p>

        <div class="gallery-block">
        <h4>Gallery Name</h4>
        <h5>Location</h5>
        <img class="gallery-block__image" 
        src="screenshots/atoms/gallery-block__image.png" 
        alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-a.png" 
          alt="the letter A">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-c.png" 
          alt="the letter C">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block__letter">
          <img class="gallery-block__letter" 
          src="../images/gallery-block__letter-amp.png" 
          alt="ampersand">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>

        <div class="gallery-block">
          <h4>Gallery Name</h4>
          <h5>Location</h5>
          <img class="gallery-block__image" 
          src="screenshots/atoms/gallery-block__image.png" 
          alt="gallery block">
        </div>
        
      </div>
    </div>
  </article>

  <!--footer-->

  <h3 id="page-footer">PAGE FOOTER</h3>
  <article class="component">
    <h3>Footer Logo Image</h3>
    <div class="component__image">
      <img 
      srcset="screenshots/atoms/footer-brand__logo-image.png 2x"
      src="screenshots/atoms/footer-brand__logo-image.png" 
      alt="footer logo image">
    </div>
    <div class="component__code">
      <img 
      src="../images/footer-brand__logo-image.svg"
      alt="footer logo image">
    </div>
  </article>

  <article class="component">
    <h3 id="footer-logo-name">Footer Logo Name</h3>
    <div class="component__image">
      <img
      srcset="screenshots/atoms/footer-brand__logo-name.png 2x"
      src="screenshots/atoms/footer-brand__logo-name.png" 
      alt="footer logo name">
    </div>
    <div class="component__code">
      <p class="footer-brand__logo-name">Contemporary Art<br>
        Galleries Association</p>
    </div>
  </article>

  <article class="component">
    <h3 id="footer">Footer</h3>
    <div class="component__image">
      <img
      srcset="screenshots/organisms/footer.png 2x"
      src="screenshots/organisms/footer.png" 
      alt="footer">
    </div>
    <div class="component__code">
      <div class="footer-container">
        <div class="footer-row1">
          <img 
          class="footer-brand__logo-image" 
          src="../images/footer-brand__logo-image.svg"
          alt="ACAG logo">
          <p class="footer-brand__logo-name">Contemporary Art <br> Galleries Assoction</p>
        </div>

        <div class="footer-row2">
          <div class="footer__column-01">
            <ul class="footer-text__medium-gray">
              <li>Art Mûr</li>
              <li>Art45</li>
              <li>Beaux-arts des Amériques</li>
              <li>Blouin Division</li>
              <li>Bradley Ertaskiran</li>
              <li>Christie Contemporary</li>
              <li>DURAN | MASHAAL</li>
              <li>ELLEPHANT</li>
              <li>Equinox Gallery</li>
              <li>Feheley Fine Arts</li>
              <li>Franz Kaka</li>
            </ul>
            <ul class="footer-text__medium-gray">
              <li>Galerie 3</li>
              <li>Galerie a</li>
              <li>Galerie Bernard</li>
              <li>Galerie C.O.A</li>
              <li>Galerie Éric Devlin</li>
              <li>Galerie Hugues Charbonneau</li>
              <li>Galerie Jean-Claude Bergeron</li>
              <li>Galerie Michel Guimont</li>
              <li>Galerie Nicolas Robert</li>
              <li>Galerie Robert Poulin</li>
              <li>Galerie Robertson Arès</li>
            </ul>
            <ul class="footer-text__medium-gray">
              <li>Galerie Simon Blais</li>
              <li>Galerie Youn</li>
              <li>Galeries Roger Bellemare et Christian Lambert</li>
              <li>General Hardware Contemporary</li>
              <li>Lacerte art contemporain</li>
              <li>Laroche/Joncas</li>
              <li>McBride Contemporain</li>
              <li>Pangée</li>
              <li>Patrick Mikhail</li>
              <li>Paul Petro Contemporary Art</li>
            </ul>
            <ul class="footer-text__medium-gray">
              <li>Pierre-François Ouellette art contemporain</li>
              <li>Stephen Bulger Gallery</li>
              <li>Studio 21 Fine Art</li>
              <li>TrépanierBaer Gallery</li>
              <li>United Contemporary</li>
              <li>VIVIANEART</li>
              <li>Yves Laroche Galerie d&#39art</li>
              <li>Zalucky Contemporary</li>
            </ul>
          </div>

          <div class="footer__column-02">
              <p class="footer-text__black">Subscribe to our newsletter</p>
          </div>

        </div>
      </div>
    </div>
  </article>

  </div> <!--content-->
  </div> <!--page wrapper-->
</body>
</html>